*.class
target/
/.idea/
/eyeglass-dao.iml
/META-INF/
/lib/javax.annotation.jar
/lib/javax.ejb.jar
/lib/javax.jms.jar
/lib/javax.persistence.jar
/lib/javax.resource.jar
/lib/javax.servlet.jar
/lib/javax.servlet.jsp.jar
/lib/javax.servlet.jsp.jstl.jar
/lib/javax.transaction.jar
